vti_encoding:SR|utf8-nl
vti_author:SR|JH197562BS\\Brandon
vti_modifiedby:SR|JH197562BS\\Brandon
vti_timelastmodified:TR|13 Jun 2014 01:01:17 -0000
vti_timecreated:TR|12 Jun 2014 23:35:04 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Beta/ZoomOne/Zoom.html
vti_nexttolasttimemodified:TR|13 Jun 2014 01:01:17 -0000
vti_cacheddtm:TX|13 Jun 2014 01:01:17 -0000
vti_filesize:IR|253
vti_cachedlinkinfo:VX|S|Scribbler_1\\ edit.png
vti_cachedsvcrellinks:VX|FSUS|Beta/ZoomOne/Scribbler_1\\ edit.png
