vti_encoding:SR|utf8-nl
vti_author:SR|JH197562BS\\Brandon
vti_modifiedby:SR|JH197562BS\\Brandon
vti_timelastmodified:TR|04 Jun 2014 02:34:29 -0000
vti_timecreated:TR|10 May 2014 00:20:57 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Stoopid/HTML/who.html Stoopid/HTML/Product/Sweats.html Stoopid/HTML/Riders/Willet.html Stoopid/HTML/Product/Hoodies.html Stoopid/HTML/Product/Hats.html Stoopid/HTML/Product/LongSleeve.html Stoopid/HTML/contact.html Stoopid/HTML/Product/Tees.html Stoopid/HTML/Riders/Smith.html Stoopid/HTML/facebook.html Stoopid/HTML/Stoopid.html Stoopid/HTML/Riders/Zinkgraf.html Stoopid/HTML/what.html
vti_nexttolasttimemodified:TW|04 Jun 2014 02:33:55 -0000
vti_cacheddtm:TX|04 Jun 2014 02:34:29 -0000
vti_filesize:IR|3794
vti_cachedlinkinfo:VX|S|../Pictures/background.png S|../Pictures/Header1.JPG S|../Pictures/home.jpg
vti_cachedsvcrellinks:VX|FSUS|Stoopid/Pictures/background.png FSUS|Stoopid/Pictures/Header1.JPG FSUS|Stoopid/Pictures/home.jpg
